@import "tailwindcss";

:root {
  --white: #ffffff;
  --transparent: transparent;
  --black: #000000;
  --blue-500: #3b82f6;
  --indigo-300: #a5b4fc;
  --blue-300: #93c5fd;
  --violet-200: #ddd6fe;
  --blue-400: #60a5fa;
}

@theme {
  --color-*: initial;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-gray-25: #fcfcfd;
  --color-gray-50: #f8fafc;
  --color-gray-100: #f1f5f9;
  --color-gray-200: #e2e8f0;
  --color-gray-300: #cbd5e1;
  --color-gray-400: #94a3b8;
  --color-gray-500: #64748b;
  --color-gray-600: #475569;
  --color-gray-700: #334155;
  --color-gray-800: #1e293b;
  --color-gray-900: #0f172a;
  --color-gray-950: #0d121c;

  --color-brand-25: #f3f5f6;
  --color-brand-50: #e7eef8;
  --color-brand-100: #cbdaf1;
  --color-brand-200: #9bb8e3;
  --color-brand-300: #6793d5;
  --color-brand-400: #3771c8;
  --color-brand-500: #295494;
  --color-brand-600: #1b3761;
  --color-brand-700: #142948;
  --color-brand-800: #0d1b30;
  --color-brand-900: #070e18;
  --color-brand-950: #03070c;

  --color-red-50: oklch(0.971 0.013 17.38);
  --color-red-100: oklch(0.936 0.032 17.717);
  --color-red-200: oklch(0.885 0.062 18.334);
  --color-red-300: oklch(0.808 0.114 19.571);
  --color-red-400: oklch(0.704 0.191 22.216);
  --color-red-500: oklch(0.637 0.237 25.331);
  --color-red-600: oklch(0.577 0.245 27.325);
  --color-red-700: oklch(0.505 0.213 27.518);
  --color-red-800: oklch(0.444 0.177 26.899);
  --color-red-900: oklch(0.396 0.141 25.723);
  --color-red-950: oklch(0.258 0.092 26.042);

  --font-inter: "Inter", sans-serif;
  --font-sans: "Noto Sans TC", sans-serif;

  --font-family-sans: "Inter", "ui-sans-serif", "system-ui", "sans-serif",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-aurora: aurora 60s linear infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes aurora {
    from {
      background-position: 50% 50%, 50% 50%;
    }
    to {
      background-position: 350% 50%, 350% 50%;
    }
  }
}

@theme inline {
  --color-brand-solid: var(--color-brand-600);
  --color-brand-solid-hover: var(--color-brand-700);
  --color-text-brand-secondary: var(--color-brand-700);
  --color-bg-brand-section: var(--color-brand-800);
  --color-bg-brand-secondary: var(--color-brand-100);
  --color-bg-brand-secondary-hover: var(--color-brand-200);
  --color-text-primary-on-brand: var(--color-white);
  --color-text-tertiary-on-brand: var(--color-brand-200);

  --color-bg-primary: var(--color-white);
  --color-bg-primary-hover: var(--color-gray-50);
  --color-bg-secondary: var(--color-gray-50);
  --color-bg-quaternary: var(--color-gray-200);

  --color-fg-secondary: var(--color-gray-700);
  --color-fg-secondary-hover: var(--color-gray-800);
  --color-fg-quaternary: var(--color-gray-400);

  --color-text-primary: var(--color-gray-900);
  --color-text-tertiary: var(--color-gray-600);
  --color-text-quaternary: var(--color-gray-500);

  --color-border-primary: var(--color-gray-300);
  --color-border-secondary: var(--color-gray-200);

  --color-background: var(--color-gray-100);
  --color-foreground: var(--color-gray-900);
  --color-muted-foreground: var(--color-gray-500);
  --color-ring: var(--color-gray-300);
  --color-accent: var(--color-gray-200);
  --color-accent-foreground: var(--color-gray-900);
  --color-card: var(--color-white);
  --color-card-foreground: var(--color-gray-900);
  --color-popover: var(--color-white);
  --color-popover-foreground: var(--color-gray-900);
  --color-primary: var(--color-brand-600);
  --color-primary-foreground: var(--color-white);
  --color-secondary: var(--color-gray-50);
  --color-secondary-foreground: var(--color-gray-900);
  --color-destructive: var(--color-red-600);
  --color-destructive-foreground: var(--color-white);
  --color-border: var(--color-gray-300);
  --color-input: var(--color-gray-100);
  --radius: 0.5rem;
  --color-chart-1: var(--color-blue-500);
  --color-chart-2: var(--color-indigo-500);
  --color-chart-3: var(--color-violet-500);
  --color-chart-4: var(--color-brand-400);
  --color-chart-5: var(--color-red-500);
  --color-sidebar: var(--color-gray-50);
  --color-sidebar-foreground: var(--color-gray-900);
  --color-sidebar-primary: var(--color-brand-600);
  --color-sidebar-primary-foreground: var(--color-white);
  --color-sidebar-accent: var(--color-gray-200);
  --color-sidebar-accent-foreground: var(--color-gray-900);
  --color-sidebar-border: var(--color-gray-200);
  --color-sidebar-ring: var(--color-gray-300);
}

@utility container {
  padding-inline: 16px;

  @variant sm {
    padding-inline: 24px;
  }

  @variant xl {
    padding-inline: 32px;

    .wide & {
      max-width: 96rem;
    }
  }
}

@utility divide-x-dot-* {
  /* Note: Using `relative` here is not clean because this causes unexpected layout side-effects */
  :where(& > :not(:last-child)) {
    @apply relative;
  }

  :where(&.divide-x-reverse > :not(:last-child))::after {
    --left: 0;
    --right: auto;
  }

  :where(& > :not(:last-child))::after {
    --diameter: calc(--value(number, [number]) * 1px);
    --right: 0;
    --left: auto;

    @apply inline-block absolute rounded-full top-1/2 -translate-y-1/2 translate-x-1/2 content-[""];
    width: var(--diameter);
    height: var(--diameter);
    right: var(--right);
    left: var(--left);
    background: var(--color-gray-200);
  }
}

html,
body {
  height: 100%;
}

body {
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
