@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-white: #FFFFFF;
  
  --color-gray-25: #FCFCFD;
  --color-gray-50: #f8fafc;
  --color-gray-100: #f1f5f9;
  --color-gray-200: #e2e8f0;
  --color-gray-300: #cbd5e1;
  --color-gray-400: #94a3b8;
  --color-gray-500: #64748b;
  --color-gray-600: #475569;
  --color-gray-700: #334155;
  --color-gray-800: #1e293b;
  --color-gray-900: #0f172a;
  --color-gray-950: #0D121C;

  --color-brand-25: #F3F5F6;
  --color-brand-50: #E7EEF8;
  --color-brand-100: #CBDAF1;
  --color-brand-200: #9BB8E3;
  --color-brand-300: #6793D5;
  --color-brand-400: #3771C8;
  --color-brand-500: #295494;
  --color-brand-600: #1B3761;
  --color-brand-700: #142948;
  --color-brand-800: #0D1B30;
  --color-brand-900: #070E18;
  --color-brand-950: #03070C;

  --color-red-50: oklch(0.971 0.013 17.38);
  --color-red-100: oklch(0.936 0.032 17.717);
  --color-red-200: oklch(0.885 0.062 18.334);
  --color-red-300: oklch(0.808 0.114 19.571);
  --color-red-400: oklch(0.704 0.191 22.216);
  --color-red-500: oklch(0.637 0.237 25.331);
  --color-red-600: oklch(0.577 0.245 27.325);
  --color-red-700: oklch(0.505 0.213 27.518);
  --color-red-800: oklch(0.444 0.177 26.899);
  --color-red-900: oklch(0.396 0.141 25.723);
  --color-red-950: oklch(0.258 0.092 26.042);

  --font-inter: "Inter", sans-serif;
  --font-sans: "Noto Sans TC", sans-serif;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@theme inline {
  --color-brand-solid: var(--color-brand-600);
  --color-brand-solid-hover: var(--color-brand-700);
  --color-text-brand-secondary: var(--color-brand-700);
  --color-bg-brand-section: var(--color-brand-800);
  --color-bg-brand-secondary: var(--color-brand-100);
  --color-bg-brand-secondary-hover: var(--color-brand-200);
  --color-text-primary-on-brand: var(--color-white);
  --color-text-tertiary-on-brand: var(--color-brand-200);

  --color-bg-primary: var(--color-white);
  --color-bg-primary-hover: var(--color-gray-50);
  --color-bg-secondary: var(--color-gray-50);
  --color-bg-quaternary: var(--color-gray-200);

  --color-fg-secondary: var(--color-gray-700);
  --color-fg-secondary-hover: var(--color-gray-800);
  --color-fg-quaternary: var(--color-gray-400);

  --color-text-primary: var(--color-gray-900);
  --color-text-tertiary: var(--color-gray-600);
  --color-text-quaternary: var(--color-gray-500);

  --color-border-primary: var(--color-gray-300);
  --color-border-secondary: var(--color-gray-200)
}

@utility container {
  padding-inline: 16px;
  
  @variant xl {
    padding-inline: 32px;
  }
}

html, body {
  height: 100%;
}

body {
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}